<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{partials/head :: head}"></head>
<body>

<div th:insert="~{partials/nav :: nav}"></div>


<div class="container mt-5 d-flex justify-content-center">

  <div class="row w-100">
    <div class="card p-4">
      <h3 th:text="${curso.nombre}" class="text-center"></h3>
      <p class="text-center">Duracion : <span th:text="${curso.duracion}"></span></p>
      <div class="w-100 d-flex justify-content-center">
        <form th:action="@{/curso/comprar}">
          <input type="hidden" name="cursoId" th:value="${curso.id}">
          <button type="submit" class="btn btn-primary">Comprar</button>
        </form>
      </div>

    </div>
  </div>
</div>


</body>
</html>